**写出导入pandas的语句，并且给pandas别名为pd**

In [1]:
import pandas as pd

**创建一个叫s1的Series，里面包含元素-1.2、3.7、2.5、-8.2、6.3。创建后进行输出**

In [2]:
s1 = pd.Series([-1.2,3.7,2.5,-8.2,6.3])
s1

0   -1.2
1    3.7
2    2.5
3   -8.2
4    6.3
dtype: float64

**打印s1的所有索引以及所有元素值**

In [3]:
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=5, step=1)
[-1.2  3.7  2.5 -8.2  6.3]

**创建一个叫s2的Series，里面包含元素1、2、3、4、5，并且对应索引5、4、3、2、1。创建后进行输出**

In [4]:
s2 = pd.Series([1,2,3,4,5],index = [5,4,3,2,1])
s2

5    1
4    2
3    3
2    4
1    5
dtype: int64

**输出s2里按位置顺序排在第2个的元素。**

In [7]:
s2.iloc[1]

2

**输出s2里按标签对应从5到3（包括3）范围内的元素**

In [16]:
s2.loc[5:3]

5    1
4    2
3    3
dtype: int64

**通过一个字典来创建Series s3。字典的键为：小李、小陈、小张、小曾、小邓，值为82、93、91、78、68。创建后进行输出。**

In [12]:
s3 = pd.Series({"小李":82,"小陈":93,"小张":91,"小曾":78,"小邓":68})
s3

小李    82
小陈    93
小张    91
小曾    78
小邓    68
dtype: int64

**把s3里小张标签对应的值改为95，在输出s3。**

In [13]:
s3.loc["小张"] = 95
s3

小李    82
小陈    93
小张    95
小曾    78
小邓    68
dtype: int64

**输出s3里所有值大于80且小于90的元素。**

In [17]:
s3[(s3>80)&(s3<90)]

小李    82
dtype: int64